#+title: {{ project_name }}

{{ description }}

* Setup

Build OpenUSD into =./openusd/=:

#+begin_src shell
mise install
mise setup
#+end_src

Or build OpenUSD with all optional features enabled:

#+begin_src shell
mise setup --full
#+end_src

* Check

#+begin_src shell
mise check
#+end_src
